<h1 class="project-card-title">{{this.model.name}}</h1>
<h2 class="project-card-client">{{this.model.client}}</h2>
<p class="project-card-discription">{{this.model.description}}</p>
<header class="title-container">
  <hr class="title-rule">
  <h2 class="title-text" >overview</h2>
  <hr class="title-rule">
</header>
<div class="project-card-overview">
  <p class="project-card-overview-info">
    <span class="project-card-overview-info-title">weeks:</span>{{this.model.timeframe}}
  </p>
  <p class="project-card-overview-info">
    <span class="project-card-overview-info-title">support:</span>64%
  </p>
  <p class="project-card-overview-info">
    <span class="project-card-overview-info-title">health:</span>MED
  </p>
  <p class="project-card-overview-info">
    <span class="project-card-overview-info-title">stakeholders:</span>{{this.model.totalStakeholders}}
  </p>
</div>
<footer>
  {{#link-to "project-overview" this.model.id tagName='button'}}View{{/link-to}}
</footer>
