<h1 class="page-title">select a project</h1>
<div class="project-container">
  {{project-card}}
  {{project-card}}
  {{project-card}}
  {{project-card}}
  {{project-card}}
  {{project-card}}
  {{project-card}}{{project-card}}{{project-card}}
</div>
<footer class="action-footer">
  <button>New Project</button>
</footer>
