<div class="stakeholder-image-container inline-block">
  <img src="{{this.selectedStakeholder.image}}">
</div>
<div class="stakeholder-info-container inline-block">
  <p class="stakeholder-name">{{this.selectedStakeholder.name}}</p>
  <p class="stakeholder-info">{{this.selectedStakeholder.organisation}}</p>
  <p class="stakeholder-info">{{this.selectedStakeholder.role}}</p>
</div>
<header class="stakeholder-title-header">
  <hr class="stakeholder-title-rule">
  <h2 class="stakeholder-title" >tags</h2>
  <hr class="stakeholder-title-rule">
</header>
<section class="stakeholder-tags-section">
  {{#if this.selectedStakeholder.tags}}
    {{!-- The each is compressed like this for inline-block--}}
    {{#each this.selectedStakeholder.tags as |tag|}}<p class="stakeholder-tag">{{tag}}</p>{{/each}}
  {{else}}
    <p class="stakeholder-no-data">There are no tags for this stakeholder.</p>
  {{/if}}
</section>
<header class="stakeholder-title-header">
  <hr class="stakeholder-title-rule">
  <h2 class="stakeholder-title" >stats</h2>
  <hr class="stakeholder-title-rule">
</header>
<section>
  {{#if this.selectedStakeholder.stats}}
    {{!-- We need to work out the stats --}}
  {{else}}
    <p class="stakeholder-no-data">There are no stats for this stakeholder.</p>
  {{/if}}
</section>
<header class="stakeholder-title-header">
  <hr class="stakeholder-title-rule">
  <h2 class="stakeholder-title" >notes</h2>
  <hr class="stakeholder-title-rule">
</header>
<section>
  {{#if this.selectedStakeholder.notes}}
    {{this.selectedStakeholder.notes}}
  {{else}}
    <p class="stakeholder-no-data">There are no notes on this stakeholder.</p>
  {{/if}}
</section>

<footer>
  <button {{action "close"}}>Close</button>
</footer>
